{% comment %} {% include 'mangalib/include/begin_page.html' %} {% endcomment %}
{% load static %} {% load customtags %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'mangalib/css/main.css' %}" />
    <title>Mes Mangas</title>
  </head>
  <body>

    {% if user.is_authenticated %}
      <p>Connecté sous {{user.username}} | <a href="{% url 'accounts:logout' %}">Déconnexion</a> </p>
    {% else %} 
      <p><a href="{% url 'accounts:login' %}">Connexion</a> | <a href="{% url 'accounts:register' %}">Inscription</a></p>
    {% endif %}

    <h1>Bienvenue sur MangaLib</h1>

      <p><a href="{% url 'mangalib:add' %}">Ajouter un livre</p>
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Quantité</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <td><a href="{% url 'mangalib:show' book.id %}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td>{{ book.quantity }}</td>
            <td><a href="{% url 'mangalib:edit' book.id %}">🖍</a></td>
            <td><a href="{% url 'mangalib:delete' book.id %}">❌</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br/>

  </body>
</html>
