{% load static %} {% load customtags %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'mangalib/css/main.css' %}" />
    <title>Accounts</title>
  </head>
  <body>

      {% for message in messages %}
            <p> {{message}} </p>
      {% endfor %}
    <h1>Créer un compte</h1>

    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type = "submit" value="Je m'inscris"/>
    </form>

    <p>J'ai déjà un compte je me connecte <a href="{% url 'accounts:login' %}">Connexion</a></p>

  </body>
</html>
