body {
      font-family: 'Poppins';
      max-width: 800px;
      margin: 0 auto;
}

p {
      color: #5037;
}

/* Style pour les champs de formulaire */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      box-sizing: border-box;
      border-radius: 0.5rem;
}

/* Style pour les boutons du formulaire */
input[type="submit"],
button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}

/* Style pour les boutons lorsqu'ils sont survolés */
input[type="submit"]:hover,
button:hover {
      background-color: #45a049;
}

/* Style pour les messages d'erreur */
.error {
      color: #ff0000;
}

/* Style pour les messages de succès */
.success {
      color: #008000;
}