body {
      background-color: #eee;
      color:darkslategray;
      width: 800px;
      margin: 0 auto;
      font-family: Tahoma, sans-serif;
      line-height: 1.5rem;
}

a {
      text-decoration: underline;
      color: darkslategrey;
}

a:hover {
      color: black;
}

ul,
li {
      margin: 0;
      padding: 0;
      color: black
}

li {
      list-style: circle;
      font-size: large;
}